body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    height: 100vh; /* Înalțime completă a ferestrei */
    background-image: url('imagini/fund.jpg'); /* Imaginea de fundal */
    background-size: cover; /* Acoperă întreaga zonă */
    background-position: center; /* Centrul imaginii de fundal */
}

.overlay {
    position: absolute;
    top: 50%; /* Centrul vertical */
    left: 50%; /* Centrul orizontal */
    transform: translate(-50%, -50%); /* Centrul exact */
    text-align: center;
    color: white; /* Culoarea textului */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Umbră pentru text */
}


.timeline {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.timeline-item {
    display: flex;
    align-items: center;
    margin: 10px;
}

.timeline-item img {
    width: 150px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.timeline-item p {
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
}

.arrow {
    width: 24px;
    height: 24px;
    margin: 0 10px;
    stroke: #000;
}




h1 {
    margin: 0;
    font-size: 48px; /* Dimensiunea fontului pentru titlu */
}

h2 {
    margin: 0;
}

nav {
    text-align: center;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #000; /* Fundal negru pentru butoane */
    color: white; /* Culoare text alb pentru butoane */
    border-radius: 5px; /* Colțuri rotunjite pentru butoane */
    transition: background-color 0.3s, transform 0.3s; /* Efect de tranziție pentru hover */
    margin: 0 10px;
}

button:hover {
    background-color: #444; /* Culoare la hover pentru butoane */
    transform: scale(1.05); /* Mărirea butoanelor la hover */
}

main {
    text-align: center;
    padding: 20px;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-gallery img {
    width: 150px; /* Lățimea imaginilor */
    height: auto;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.catalog-item {
    margin: 10px;
    text-align: center;
}

.catalog-item img {
    width: 200px; /* Lățimea imaginilor */
    height: auto;
    border-radius: 5px;
}

.wedding-date {
    font-size: 28px; /* Dimensiune mai mare pentru data nunții */
    margin: 5px 0; /* Margine pentru paragrafe */
    color: white; /* Culoare albă pentru text */
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
}
